[extras]
name=AlmaLinux $releasever - Extras
#mirrorlist=https://mirrors.almalinux.org/mirrorlist/$releasever/extras
baseurl=http://update.hdc1net/almalinux/9/extras/$basearch/os/
enabled=1
gpgcheck=1
countme=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-9
metadata_expire=86400
enabled_metadata=0
